name: Build WF
on: 
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:
    
  schedule:
    - cron: "10 14 * * 1-5" # nightly run at 2:10pm UTC Mon-Fri

jobs:
  Build:
    runs-on: ubuntu-latest
    steps: 
      - name: Code checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - run: env
      
      - name: Show workspace
        run: echo $GITHUB_WORKSPACE

      - name: Show $GITHUB_REF
        run: echo $GITHUB_REF

      - name: Show $GITHUB_SHA
        run: echo $GITHUB_SHA

      - name: Show $GITHUB_REPOSITORY
        run: echo $GITHUB_REPOSITORY

      - name: Show $RUNNER_TEMP
        run: echo $RUNNER_TEMP          

      - name: Maven install
        run: mvn install   

  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps: 
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run test on main branch
        run: mvn test

      - name: Checkstyle
        run: mvn checkstyle:checkstyle   

  Security_Scan:
    runs-on: ubuntu-latest
    needs: Build
    steps: 
      - name: Code checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: json
          exit-code: 0
          vuln-type: 'os,library'
          output: trivy-results.json

      - name: Upload Trivy scan results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-results
          path: trivy-results.json    
